*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", "Georgia", serif;
    
    }
    /*header*/
header.home{
    background-color: #f4f2e9;
}
body{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);

}
.enlaces, nav ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    position: relative;
    top: 8px;
    color: #222222;
}
.enlaces li{
    margin-left: 20px;
    
}
.logo{
    height: 50px;
    width: 20%;

}
.logo-footer{
    height: 100px;
    width: 100%;
}
.nav-bar {
    

    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    right: 20px;
}
header  .buscador input{
 width: 100px;
 height: 40px;
 border-radius: 10px 0px 0px 10px;
 border: none;
 background-color: #ffff;
 position: relative;
 top: 8px;
}
header  .buscador a{
    text-decoration: none;
    color: #222222;
   }
header  .buscador button{
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #ffff;
    height: 40px;
    position: relative;
    top: 8px;
    right: 4px;
}
/*header*/
/*banner*/
section.banner img{
    width: 100%;
}
/*banner*/
/*informacion-relacionada*/
.informacion-relacionada{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #f4f2e9;
}
.informacion-lista{

    width: 20%;
    margin: 0 auto;
}
section.informacion-lista  ul{
    list-style: none;
    text-decoration: none;
}
section.informacion-lista  ul li a{
    margin: 20px 0px 20px 20px ;
}
.informacion-encuentra{
    width: 50%;
    margin: 0 auto;
}

section.informacion-encuentra h4,section.informacion-encuentra p{

    margin-top: 30px;
}
.informacion-visual{

    width: 30%;
    margin: 0 auto;
    text-align: center;
}
section.informacion-visual img{
    width:250px;
     height:250px;
    
}
/*informacion-relacionada*/
/*main*/
.generos{
    background-color: #f4f2e9;
    color: #222222;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   

}
.enlaces-generos,main div ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #222222;
}
.enlaces-generos li{

    margin: 0 auto;
}
/*secciones*/
.seccion{
    margin: 40px auto;
}
.titulo-seccion{
    text-align: center;
}
.novedades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    text-align: center;
    margin-top: 20px;
    border: solid #f4f2e9;
    border-radius: 10px;
    padding: 2px;
    background-color: #f4f2e9;
}

div.novedades article{
margin: 0 auto;
}
.img_producto{
    height: 100px;
    width: 100px;
}
/*secciones*/
/*main*/
/*footer*/
div.footer-section a{
    color: #181818;
    text-decoration: none;
}
.footer-section,div.footer-section li{
    margin:  auto;
    background-color: #f9f8f4;
    color: #181818;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    
    
}
.footer-seccion{
    color: #181818;
    display: block;
margin: 8px auto;

}
.footer-copy{
    background-color: #f9f8f4;
    color: #181818;
    text-align: center;
    padding-bottom: 20px;
}
/*footer*/

@media (min-width: 0px) and (max-width: 480px) {
    .logo{
        height: 30px;
        width: 20%;
        position: relative;
        top: 5px;
    }
    .buscador{
        margin: 0 auto;
        position: relative;
        top: 8px;
       
        }

     header  .buscador input{
         margin-top: 5px;
        width: 300px;
        height: 30px;
        }

    .enlaces{
         position: relative;
         top: -70px;
         left: 70px;
         font-size: 14px;
    }
    .generos{

        font-size: 12px;
  
    }
    .img_producto{
        height: 80px;
        width: 80px;
    }
    .logo-footer{
        height: 100px;
        width: 80%;
    }
    .nav-bar{
        position: relative;
        left: 0;
    }

    .informacion-relacionada{
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .informacion-lista{
        
        width: 10%;
    }
    section.informacion-lista  ul li a{
        margin: 20px 0px 10px 0 ;
    }
    .informacion-encuentra{
        font-size: 12px;
        width: 70%;
        text-align: justify;
    }
    section.informacion-encuentra h4{
        margin-top: 20px;
    }
    section.informacion-encuentra p{
        margin-top: 0;    
    }
    .informacion-visual{

        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    section.informacion-visual img{
        width:200px;
        height:200px;
    }
    header  .buscador input{
     width: 300px;
     height: 40px;

    }
    div.novedades article{
        width: 50%;
        }


}
@media (min-width: 481px) and (max-width: 768px) {

}