*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Merriweather", "Georgia", serif;
    
    }
    /*header*/
header.home{
    background-color: #f4f2e9;
}
body{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0);

}
.enlaces, nav ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    position: relative;
    top: 8px;
    color: #222222;
}
.enlaces li{
    margin-left: 20px;
    
}
.logo{
    height: 50px;
    width: 20%;

}
.logo-footer{
    height: 100px;
    width: 100%;
}
.nav-bar {
    
    padding: 5px 0;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    right: 20px;
}
header  .buscador input{
 width: 500px;
 height: 40px;
 border-radius: 10px;
 border: none;
 position: relative;
 top: 8px;
}
header  .buscador a{
    text-decoration: none;
    color: #222222;
   }
/*header*/
/*main*/
.generos{
    background-color: #f4f2e9;
    color: #222222;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   

}
.enlaces-generos,main div ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #222222;
}
.enlaces-generos li{

    margin: 0 auto;
}
/*secciones*/
.seccion{
    margin: 40px auto;
}
.titulo-seccion{
    text-align: center;
}
.novedades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
    text-align: center;
}
div.novedades article{
margin: 0 auto;
}
.img_producto{
    height: 100px;
    width: 100px;
}
/*secciones*/
/*main*/
/*footer*/
div.footer-section a{
    color: #181818;
    text-decoration: none;
}
.footer-section,div.footer-section li{
    margin:  auto;
    background-color: #f9f8f4;
    color: #181818;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    
    
}
.footer-seccion{
    color: #181818;
    display: block;
margin: 8px auto;

}
.footer-copy{
    background-color: #f9f8f4;
    color: #181818;
    text-align: center;
    padding-bottom: 20px;
}
/*footer*/

@media (min-width: 0px) and (max-width: 480px) {
    .logo{
        height: 30px;
        width: 20%;
        position: relative;
        top: 5px;
    }
    .buscador{
        position: relative;
        top: 8px;
       left: 10px;
        }

     header  .buscador input{
         margin-top: 5px;
        width: 300px;
        height: 30px;
        }

    .enlaces{
         position: relative;
         top: -60px;
         left: 70px;
         font-size: 14px;
    }
    .generos{

        font-size: 12px;
  
    }
    .img_producto{
        height: 80px;
        width: 80px;
    }
    .logo-footer{
        height: 100px;
        width: 80%;
    }
    .nav-bar{
        position: relative;
        left: 15px;
    }
    
    
}
@media (min-width: 481px) and (max-width: 768px) {

}