<footer>
        

    <div class="footer-section">
        <section class="footer-seccion">

        <h3>Conocenos</h3>
        <li><a>¿Quienes somos?</a></li>
        <li><a>Conctatenos</a></li>
        <li><a href="/productCart">Carrito </a></li>
        
        </section>

        <section class="footer-seccion">

            <h3>Compra por genero</h3>
            <li><a>Ficcion</a></li>
            <li><a>Terror</a></li>
            <li><a>Novelas</a></li>
            
        </section>

         <section class="footer-seccion">

                <h3>Te ayudamos</h3>
                <li><a>Tu cuenta</a></li>
                <li><a>Conctatenos</a></li>
                <li><a>Envio y devoluciones</a></li>
                
        </section>
        
        <section class="footer-seccion">

            <img src="../images/E-Books_logo.png" alt="E-Books_logo" class="logo-footer">
            
         </section>

    </div>

    <section>
       
    <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>

    </section>
</footer>