<footer>
        

    <div class="footer-section">

    <section>
       
    <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>

    </section>
</footer>
<script src="/js/formValidator.js"></script>