<div class="generos">
    <ul class="enlaces-generos">
        <li><a href="/">Libros</a></li>
        <li>
            <form action="/gender" method="GET">
            <input type="text" name="keywords" value="Fantasia" hidden>
            <button type="submit"><a>Adolescentes y Jóvenes </a></button>
            </form>
        </li>
        <li>
            <form action="/gender" method="GET">
            <input type="text" name="keywords" value="Ficcion" hidden>
            <button type="submit"><a>Ficcion </a></button>
            </form>
        </li>
        <li>
            <form action="/gender" method="GET">
            <input type="text" name="keywords" value="Audiolibros" hidden>
            <button type="submit"><a>Audiolibros </a></button>
            </form>
        </li>
        <li>
            <form action="/gender" method="GET">
            <input type="text" name="keywords" value="Accion" hidden>
            <button type="submit"><a>Accion </a></button>
            </form>
        </li>

    </ul>
</div>