<div class="generos">
    <ul class="enlaces-generos">
        <li>
            <form action="/" method="GET">
            <button type="submit"><a class="genero">Libros</a></button>
            </form>
        </li>    
        <li>
            <form action="/gender/8" method="GET">
            <input type="text" hidden> <!--- 8 es el id del genero 'Aventura' -->
            <button type="submit"><a class="genero">Adolescentes y Jóvenes </a></button>
            </form> 
        </li>
        <li>
            <form action="/gender/1" method="GET">
            <input type="text"  hidden> <!--- 1 es el id del genero 'Fantasia' -->
            <button type="submit"><a class="genero">Ficcion </a></button>
            </form>
        </li>
        <li>
            <form action="/gender/4" method="GET">
            <input type="text" hidden> <!---todavia no contamos con ellos -->
            <button type="submit"><a class="genero">Autoayuda </a></button>
            </form>
        </li>
        <li>
            <form action="/gender/5" method="GET">
            <input type="text" hidden> <!--- 5 es el id del genero 'Accion' -->
            <button type="submit"><a class="genero">Accion </a></button>
            </form>
        </li>

    </ul>
</div>