<header class="home">

    <nav class="nav-bar">

        <a href="/"><img src="../images/E-Books_logo.png" alt="E-Books_logo" class="logo"></a>
        
        <div class="buscador">

        <form action="/search" method="GET">
        <input type="text" placeholder=" Buscar productos, marcas" name="keywords">
        <button type="submit" ><a class="fas fa-search"></a></button>
        </form>
        </div>

        <ul class="enlaces">
            <li><a href="/">Inicio</a></li>
            <li><a href="/login">Mi cuenta </a></li>
            <!--<li><a href="">Lista de deseos </a></li>-->
            <li><a href="/productCart">Carrito </a></li>
        </ul>

    </nav>
</header>    