<header class="home">

    <nav class="nav-bar">

        <img src="./images/E-Books_logo.png" alt="E-Books_logo" class="logo">

        <div class="buscador">
            
        <input type="text" placeholder=" Buscar productos, marcas">
        <button><a href="" class="fas fa-search"></a></button>
        </div>

        <ul class="enlaces">
            <li><a href="/">Inicio</a></li>
            <li><a href="/login">Mi cuenta </a></li>
            <!--<li><a href="">Lista de deseos </a></li>-->
            <li><a href="/productCart">Carrito </a></li>
        </ul>

    </nav>
</header>    