<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Books</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

	<header class="home">

        <nav class="nav-bar">

            <img src="./images/E-Books_logo.png" alt="E-Books_logo" class="logo">

            <div class="buscador">
                
            <input type="text" placeholder=" Buscar productos, marcas">
            <button><a href="" class="fas fa-search"></a></button>
            </div>

            <ul class="enlaces">
                <li><a href="/login">Mi cuenta </a></li>
                <li><a href="">Lista de deseos </a></li>
                <li><a href="/productCart">Carrito </a></li>
            </ul>

        </nav>
	</header>    

	<main>

        <div class="generos">
            <ul class="enlaces-generos">
                <li><a href="">Libros  </a></li>
                <li><a href="">Adolescentes y Jóvenes </a></li>
                <li><a href="">Libros  digitales </a></li>
                <li><a href="">Audiolibros </a></li>
                <li><a href="">Niños </a></li>
            </ul>
        </div>


        <div>
            <section class="banner">
                <img src="images/banner.jpg" alt="Banner de E-Books">
            </section>    
        </div>

        <div class="informacion-relacionada">
            <section  class="informacion-lista">
                <ul>
                    <li><a href="">Generos  </a></li>
                    <li><a href="">Ficcion </a></li>
                    <li><a href="">Terror </a></li>
                    <li><a href="">Novelas </a></li>
                    <li><a href="">Comics </a></li>
                </ul>
            </section>
            <section class="informacion-encuentra">
                <h4>ENCUENTRA TU LUGAR IDEAL EN LA LIBRERÍA EN LÍNEA E-BOOKS
                </h4>
                <p>
                    ¡Más de 100 libros listos para enviar, 200 libros electrónicos y 80 audiolibros para escuchar de inmediato! Apoya esta pagina de jovenes emprendedores, cada miga de pan cuenta y ayuda a agrandar este sueño, para ser hecho realidad.
                </p>
                <p>
                    “La educación es el arma más poderosa que puedes usar para cambiar el mundo”
                    -NELSON MANDELA
                </p>
            </section>
            <section class="informacion-visual">
                    <img src="/images/mensaje.png" alt="">
            </section>
            
        </div>

        <section class="seccion">      

            <h4 class="titulo-seccion">Novedades</h4>

            <div  class="novedades">
                
                <article>
                    <img src="./images/Book Lovers.jpg" alt="Book Lovers.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Book Lovers</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Daughters of the Night Sky.jpg" alt="Daughters of the Night Sky.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Daughters of the Night Sky</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Every Summer After.jpg" alt="Every Summer After.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Every Summer After</h5>
                    </div>
                </article>

                <article>
                    <img src="./images/Keep Away.jpg" alt="Keep Away.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Keep Away</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Mine To Have.jpg" alt="Mine To Have.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Mine To Have</h5>
                    </div>
                </article>
            </div>
        </section>

        <section class="seccion">
            <h4 class="titulo-seccion">Mas vendidos</h4>

            <div  class="novedades">
                <article>
                    <img src="./images/Frozen.jpg" alt="Cafetera" class="img_producto">
                    <div>
                        <h5 class="descripcion">Frozen</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Safe Heart.jpg" alt="Safe Heart.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Safe Heart</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Sparring Partners.jpg" alt="Sparring Partners.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Sparring Partners</h5>
                    </div>
                </article>

                <article>
                    <img src="./images/Stone Cold.jpg" alt="Stone Cold.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Stone Cold</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Sky on Fire.jpg" alt="Sky on Fire.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Sky on Fire</h5>
                    </div>
                </article>
            </div>
        </section>

        <section class="seccion">
            <h4 class="titulo-seccion">Recomendados</h4>

            <div  class="novedades">
                <article>
                    <img src="./images/Mr. Stiff Stud.jpg" alt="Mr. Stiff Stud.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Mr. Stiff Stud</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Dissonance.jpg" alt="Dissonance.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Dissonance</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Detective Comics.jpg" alt="Detective Comics.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Detective Comics</h5>
                    </div>
                </article>

                <article>
                    <img src="./images/Kingdom Hearts III.jpg" alt="Kingdom Hearts III.jpg" class="img_producto">
                    <div>
                        <h5 class="descripcion">Kingdom Hearts III</h5>
                    </div>
                </article>
    
                <article>
                    <img src="./images/Naruto Vol. 71 I Love You Guys .jpg" alt="Naruto, Vol. 71: I Love You Guys" class="img_producto">
                    <div>
                        <h5 class="descripcion">Naruto, Vol. 71: I Love You Guys</h5>
                    </div>
                </article>
            </div>
        </section>
	</main>

	<footer>
        

            <div class="footer-section">
                <section class="footer-seccion">
   
                <h4>Conocenos</h4>
                <li><a>¿Quienes somos?</a></li>
                <li><a>Conctatenos</a></li>
                <li><a href="/productCart">Carrito </a></li>
                
                </section>

                <section class="footer-seccion">
   
                    <h4>Compra por genero</h4>
                    <li><a>Ficcion</a></li>
                    <li><a>Terror</a></li>
                    <li><a>Novelas</a></li>
                    
                </section>

                 <section class="footer-seccion">
   
                        <h4>Te ayudamos</h4>
                        <li><a>Tu cuenta</a></li>
                        <li><a>Conctatenos</a></li>
                        <li><a>Envio y devoluciones</a></li>
                        
                </section>
                
                <section class="footer-seccion">
   
                    <img src="./images/E-Books_logo.png" alt="E-Books_logo" class="logo-footer">
                    
                 </section>

            </div>

            <section>
               
            <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>
 
            </section>
	</footer>

</body>
</html>