<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Incia sesion</title>
</head>
<body>
    <center>
        <header class="home">

            <nav class="nav-bar">
    
                <img src="./images/E-Books_logo.png" alt="E-Books_logo" class="logo">
    
                <div class="buscador">
                    
                <input type="text" placeholder=" Buscar productos, marcas">
                <button><a href="" class="fas fa-search"></a></button>
                </div>
    
                <ul class="enlaces">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/login">Mi cuenta </a></li>
                    <li><a href="">Lista de deseos </a></li>
                    <li><a href="/productCart">Carrito </a></li>
                </ul>
    
            </nav>
        </header>
        <main>
            <form action="/" class="form" method="POST">
                 <h1>Iniciar sesion</h1>
                 <label for="usuario"><p>Direccion de correo electronico o numero de telefono movil</p></label>
                 <input type="text" name="usuario" id="usuario" minlength="2">
                 <br>
                 <label for="contraseña"><p>Contraseña</p></label>
                 <input type="password" name="contraseña" id="contraseña" minlength="6">
                 <br>
                 <br>
                 <input type="submit" value="Continuar">
                 <br>   
                 <p>Al continuar, aceptas las <u><a href="">Condiciones de uso</a></u>  y el <u><a class="" href="">Aviso de privacidad</a></u> de E-Books.</p>
                 <br>
                 <p><u><a href="">Necesitas ayuda?</a></u></p>
                </form>
            <br>
            <p>---------------------Eres nuevo en E-Books?-------------------</p>
            <a href="./register"><input type="submit" id="login-boton" value="Crear cuenta de E-Books"></a>
            <br>
            <br>
        </main>

    </center>
        <footer>
        

            <div class="footer-section">
                <section class="footer-seccion">
   
                <h4>Conocenos</h4>
                <li><a>¿Quienes somos?</a></li>
                <li><a>Conctatenos</a></li>
                <li><a href="/productCart">Carrito </a></li>
                
                </section>

                <section class="footer-seccion">
   
                    <h4>Compra por genero</h4>
                    <li><a>Ficcion</a></li>
                    <li><a>Terror</a></li>
                    <li><a>Novelas</a></li>
                    
                </section>

                 <section class="footer-seccion">
   
                        <h4>Te ayudamos</h4>
                        <li><a>Tu cuenta</a></li>
                        <li><a>Conctatenos</a></li>
                        <li><a>Envio y devoluciones</a></li>
                        
                </section>
                
                <section class="footer-seccion">
   
                    <img src="./images/E-Books_logo.png" alt="E-Books_logo" class="logo-footer">
                    
                 </section>

            </div>

            <section>
               
            <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>
 
            </section>
	</footer>

</body>
</html>
