<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/menu')%>

<center>
        <main>
            <form action="/products" class="form" method="post" enctype="multipart/form-data">
                 <h1>Registra tu libro</h1>
                 <label for="name"><p>Introduce el nombre</p></label>
                 <input type="text" name="name" id="name" placeholder="Introduce el nombre">
                 <br>
                 <label for="description"><p>Introduce la descripcion</p></label>
                 <input type="description" id="description" name="description">
                <br>
                <label for="image"><p>Introduce la portada</p></label>
                <input type="file" id="image" name="image">
                <br>                
                <label for="gender"><p>introduce el genero</p></label>
                <select id="gender" name="gender">
                    <option name="Romance">Romance</option>
                    <option name="Accion">Accion</option>
                    <option name="Suspenso">Suspenso</option>
                    <option name="Biografia">Biografia</option>
                    <option name="Liderazgo">Liderazgo</option>
                    <option name="Autoayuda">Autoayuda</option>
                    <option name="Sociologia">Sociologia</option>                   
                    <option name="Literatura">Literatura</option>
                    <option name="Ficcion">Ficcion</option>
                    <option name="Economia">Economia</option>   
                    <option name="Libros digitales">Libros digitales</option>
                    <option name="Audiolibros">Audiolibros</option>
                    <option name="Niños">Niños</option>  
                </select>
                 <br>
                 <label for="categoria">Introduce la categoria</label>
                 <br>
                 <select id="category" name="category">
                    <option name="Novedades" id="Novedades">Novedades</option>
                    <option name="Masvendidos" id="Masvendidos">Mas vendidos</option>
                    <option name="Recomendados" id="Recomendados">Recomendados</option>
                 </select>
                <br>
                <label for="format">Introduce el formato</label>
                 <br>
                 <select id="format" name="format">
                    <option name="TapaDura" id="TapaDura">Tapa Dura</option>
                    <option name="TapaBlanda" id="TapaBlanda">Tapa Blanda</option>
                    <option name="Digital" id="Digital">Digital</option>
                 </select>
                <br>
                <label for="price"><p>Introduce el precio</p></label>
                <input type="number" id="price" name="price">
                
                
                 <br>   
                 <br>
                 <input type="submit" value="Continuar">
                 <br>   

                </form>
            <br>
            <br>

        </main>

    </center>
   
    <%- include('./partials/footer')%>

</body>
</html>
