<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

	<%- include('./partials/menu')%>

	<main>

    
      <div class="products">
        <div class="cart">
            <div>
                <h1 id="title_cart">Carrito</h1>
            </div>
            <hr id="cart-line" color="#c8c8c8" size="1px" >
           <div class="productOrganization">
            <div id="Carrito">
               <div id="productDesc">
                <div>
                    <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                </div>
                <div>
                    <div id="productName">
                        <h2>
                            El camino de los reyes (El Archivo de las Tormentas 1)
                        </h2>
                    </div>
                    <div id="productInfo">
                        <p>Autor: Brandon Sanderson</p>
                        <p>Formato: Tapadura</p>
                    </div>
                </div>
                <div class="price">
                    <h1>$49.04</h1>
                </div>
               </div>
                
            </div>
           

            <div id="Carrito">
                <div id="productDesc">
                 <div>
                     <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                 </div>
                 <div>
                     <div id="productName">
                         <h2>
                             El camino de los reyes (El Archivo de las Tormentas 1)
                         </h2>
                     </div>
                     <div id="productInfo">
                         <p>Autor: Brandon Sanderson</p>
                         <p>Formato: Tapadura</p>
                     </div>
                 </div>
                 <div class="price">
                     <h1>$49.04</h1>
                 </div>
                </div>
                 
             </div>

             <div id="Carrito">
                <div id="productDesc">
                 <div>
                     <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                 </div>
                 <div>
                     <div id="productName">
                         <h2>
                             El camino de los reyes (El Archivo de las Tormentas 1)
                         </h2>
                     </div>
                     <div id="productInfo">
                         <p>Autor: Brandon Sanderson</p>
                         <p>Formato: Tapadura</p>
                     </div>
                 </div>
                 <div class="price">
                     <h1>$49.04</h1>
                 </div>
                </div>
                 
             </div>

            <div id="Carrito">
               <div id="productDesc">
                <div>
                    <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                </div>
                <div>
                    <div id="productName">
                        <h2>
                            El camino de los reyes (El Archivo de las Tormentas 1)
                        </h2>
                    </div>
                    <div id="productInfo">
                        <p>Autor: Brandon Sanderson</p>
                        <p>Formato: Tapadura</p>
                    </div>
                </div>
                <div class="price">
                    <h1>$49.04</h1>
                </div>
               </div>
                
            </div>
           </div>  
            <div class="subtotal">
                <h2 >Subtotal (4 productos):$196.16</h2>
            </div>
        </div>

        <div class="total">
            <h2 id="subtotalCarrito">Subtotal (4 productos):$196.16</h2>
             <div class="pago" ><button class="pago">Proceder al pago</button></div>
        </div>
       </div>
	</main>

	<%- include('./partials/footer')%>

</body>
</html>