<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>

	<%- include('./partials/menu')%> 

	<main>
        <Div id="productDetails">
            
            <div  class="details">
                <div>
                    <img src="./images/products/Way_of_Kings.jpg" alt="El camino de los Reyes" >
                </div>
                <div id="generalDetails">
                    <div id="nameDetails">
                        <h1>El camino de los reyes</h1>
                    </div>
                    <hr id="detailsLine">
                    <div id="priceDetails">
                        <h1>$49.04</h1>
                    </div>
                    <div id="format">
                        <button id="formatDetails">Tapa dura</button>
                        <button id="formatDetails">Tapa Blanda</button>
                        <button id="formatDetails">Digital</button>
                    </div>
                    <div id="payDetails">
                        <button id="payButton1">Añadir al Carrito</button>
                        <button id="payButton2">Comprar ahora</button>
                    </div>
                </div>
            </div>

            <div class="detailsMobile">
                    <div id="viewDetails">
                        <div id="nameDetails">
                            <h1>El camino de los reyes</h1>
                        </div>   
                    </div>
                        <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" id="imgDetails" >
                        
                        <hr id="detailsLineMobile">
                        
                    <div id="generalDetails">
                            <select name="Formato" id="formatComboBox">
                                <option value="Tapadura" selected>Tapa Dura $49.04</option>
                                <option value="Tapablanda" >Tapa Blanda $24.99</option>
                                <option value="Digital">Digital 7.99</option>
                            </select> 
                        <div id="payDetails">
                            <button id="payButton1">Añadir al Carrito</button>
                            <button id="payButton2">Comprar ahora</button>
                            
                        </div>
                    </div>
                

                <hr id="detailsLineMobile">

            <div  id="sinopsisDetailsMobile">
                <p id="sinopsisName">Sinopsis</p>
                <div id=sinopsis>
                    <p id="sinopsis">El camino de los reyes es el primer volumen de «El Archivo de las Tormentas», el resultado de más de una década de construcción y escritura de universos, convertido en una obra maestra de la fantasía contemporánea en diez volúmenes. Con ella, Brandon Sanderson se postula como el autor del género que más lectores está ganando en todo el mundo. Anhelo los días previos a la Última Desolación. Los días en que los Heraldos nos abandonaron y los Caballeros Radiantes se giraron en nuestra contra. Un tiempo en que aún había magia en el mundo y honor en el corazón de los hombres. El mundo fue nuestro, pero lo perdimos. Probablemente no hay nada más estimulante para las almas de los hombres que la victoria. ¿O tal vez fue la victoria una ilusión durante todo ese tiempo? ¿Comprendieron nuestros enemigos que cuanto más duramente luchaban, más resistíamos nosotros? Quizá vieron que el fuego y el martillo tan solo producían mejores espadas. Pero ignoraron el acero durante el tiempo suficiente para oxidarse. Hay cuatro personas a las que observamos. La primera es el médico, quien dejó de curar para convertirse en soldado durante la guerra más brutal de nuestro tiempo. La segunda es el asesino, un homicida que llora siempre que mata. La tercera es la mentirosa, una joven que viste un manto de erudita sobre un corazón de ladrona. Por último está el alto príncipe, un guerrero que mira al pasado mientras languidece su sed de guerra. El mundo puede cambiar. La potenciación y el uso de las esquirlas pueden aparecer de nuevo, la magia de los días pasados puede volver a ser nuestra. Esas cuatro personas son la clave. Una de ellas nos redimirá. Y una de ellas nos destruirá. </p>
                </div>
            </div>

        </div>
        <div  id="sinopsisDetails">
                <p id="sinopsisName">Sinopsis</p>
                <div id=sinopsis>
                    <p id="sinopsis">El camino de los reyes es el primer volumen de «El Archivo de las Tormentas», el resultado de más de una década de construcción y escritura de universos, convertido en una obra maestra de la fantasía contemporánea en diez volúmenes. Con ella, Brandon Sanderson se postula como el autor del género que más lectores está ganando en todo el mundo. Anhelo los días previos a la Última Desolación. Los días en que los Heraldos nos abandonaron y los Caballeros Radiantes se giraron en nuestra contra. Un tiempo en que aún había magia en el mundo y honor en el corazón de los hombres. El mundo fue nuestro, pero lo perdimos. Probablemente no hay nada más estimulante para las almas de los hombres que la victoria. ¿O tal vez fue la victoria una ilusión durante todo ese tiempo? ¿Comprendieron nuestros enemigos que cuanto más duramente luchaban, más resistíamos nosotros? Quizá vieron que el fuego y el martillo tan solo producían mejores espadas. Pero ignoraron el acero durante el tiempo suficiente para oxidarse. Hay cuatro personas a las que observamos. La primera es el médico, quien dejó de curar para convertirse en soldado durante la guerra más brutal de nuestro tiempo. La segunda es el asesino, un homicida que llora siempre que mata. La tercera es la mentirosa, una joven que viste un manto de erudita sobre un corazón de ladrona. Por último está el alto príncipe, un guerrero que mira al pasado mientras languidece su sed de guerra. El mundo puede cambiar. La potenciación y el uso de las esquirlas pueden aparecer de nuevo, la magia de los días pasados puede volver a ser nuestra. Esas cuatro personas son la clave. Una de ellas nos redimirá. Y una de ellas nos destruirá. </p>
                </div>
            </div>

            <hr id="detailsLineMobileFinal"> 
        </Div>
	</main>

	<%- include('./partials/footer')%>

</body>
</html>