<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Books</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

	<header class="home">

        <nav class="nav-bar">

            <img src="./images/logo.svg" alt="E-Books_logo" class="logo">

            <div class="buscador">
                
            <input type="text" placeholder=" Buscar productos, marcas">
            <button><a href="" class="fas fa-search"></a></button>
            </div>

            <ul class="enlaces">
                <li><a href="/login">Mi cuenta </a></li>
                <li><a href="">Lista de deseos </a></li>
                <li><a href="/productCart">Carrito </a></li>
            </ul>

        </nav>
	</header>    

	<main>

        <div class="generos">
            <ul class="enlaces-generos">
                <li><a href="">Libros  </a></li>
                <li><a href="">Adolescentes y Jóvenes </a></li>
                <li><a href="">Libros  digitales </a></li>
                <li><a href="">Audiolibros </a></li>
                <li><a href="">Niños </a></li>
            </ul>
        </div>
    
      <div class="products">
        <div class="cart">
            <div>
                <h1 id="title_cart">Carrito</h1>
            </div>
            <hr id="cart-line" color="#c8c8c8" size="1px" >
           <div class="productOrganization">
            <div id="Carrito">
               <div id="productDesc">
                <div>
                    <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                </div>
                <div>
                    <div id="productName">
                        <h2>
                            El camino de los reyes (El Archivo de las Tormentas 1)
                        </h2>
                    </div>
                    <div id="productInfo">
                        <p>Autor: Brandon Sanderson</p>
                        <p>Formato: Tapadura</p>
                    </div>
                </div>
                <div class="price">
                    <h1>$49.04</h1>
                </div>
               </div>
                
            </div>
           

            <div id="Carrito">
                <div id="productDesc">
                 <div>
                     <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                 </div>
                 <div>
                     <div id="productName">
                         <h2>
                             El camino de los reyes (El Archivo de las Tormentas 1)
                         </h2>
                     </div>
                     <div id="productInfo">
                         <p>Autor: Brandon Sanderson</p>
                         <p>Formato: Tapadura</p>
                     </div>
                 </div>
                 <div class="price">
                     <h1>$49.04</h1>
                 </div>
                </div>
                 
             </div>

             <div id="Carrito">
                <div id="productDesc">
                 <div>
                     <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                 </div>
                 <div>
                     <div id="productName">
                         <h2>
                             El camino de los reyes (El Archivo de las Tormentas 1)
                         </h2>
                     </div>
                     <div id="productInfo">
                         <p>Autor: Brandon Sanderson</p>
                         <p>Formato: Tapadura</p>
                     </div>
                 </div>
                 <div class="price">
                     <h1>$49.04</h1>
                 </div>
                </div>
                 
             </div>

            <div id="Carrito">
               <div id="productDesc">
                <div>
                    <img src="./images/Way_of_Kings.jpg" alt="El camino de los Reyes" class="img_cart">
                </div>
                <div>
                    <div id="productName">
                        <h2>
                            El camino de los reyes (El Archivo de las Tormentas 1)
                        </h2>
                    </div>
                    <div id="productInfo">
                        <p>Autor: Brandon Sanderson</p>
                        <p>Formato: Tapadura</p>
                    </div>
                </div>
                <div class="price">
                    <h1>$49.04</h1>
                </div>
               </div>
                
            </div>
           </div>  
            <div class="subtotal">
                <h2 >Subtotal (4 productos):$196.16</h2>
            </div>
        </div>

        <div class="total">
            <h2 id="subtotalCarrito">Subtotal (4 productos):$196.16</h2>
             <div class="pago" ><button class="pago">Proceder al pago</button></div>
        </div>
       </div>
	</main>

	<footer>
        

        <div class="footer-section">
            <section class="footer-seccion">

            <h4>Conocenos</h4>
            <li><a>¿Quienes somos?</a></li>
            <li><a>Conctatenos</a></li>
            <li><a href="/productCart">Carrito </a></li>
            
            </section>

            <section class="footer-seccion">

                <h4>Compra por genero</h4>
                <li><a>Ficcion</a></li>
                <li><a>Terror</a></li>
                <li><a>Novelas</a></li>
                
            </section>

             <section class="footer-seccion">

                    <h4>Te ayudamos</h4>
                    <li><a>Tu cuenta</a></li>
                    <li><a>Conctatenos</a></li>
                    <li><a>Envio y devoluciones</a></li>
                    
            </section>
            
            <section class="footer-seccion">

                <img src="./images/logo.svg" alt="E-Books_logo" class="logo-footer">
                
             </section>

        </div>

        <section>
           
        <p  class="footer-copy"><strong>© 2022 e-books.com, Inc. o sus afiliados</strong></p>

        </section>
</footer>

</body>
</html>